html, body
{
 /* Centro pagina */
  margin: 0.1em;
  padding: 0.1em;
 /* Agrego algo de color */
  background-color: #df3311;
  color: #dedeed; 
}

footer, header
{
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

em a
{
   /* Coloreo fondo donde aparece mi nombre con gris oscuro para que se vea bien
      con el color palido del texto */
   background-color: #333333;
 /* Redondeo bordes para que se vea mejor y mas moderno */
   border-radius: 0.1em;
   text-decoration: none;
   color: #dedeed; 
}

a
{
 /* saco estilo de subrayado en enlaces para que se vea mejor */
  text-decoration: none;
}

div
{
  /* centro contenido dentro del div */
    text-align: center;
}

img
{
  /* Redondeo un poco esquinas de imagenes */
  border-radius: 0.8em;
}
